<div class="ui-g ui-fluid">
    <div>
        <p-card>
            <div class="ui-g-12">
                <div class="floatleft" style="width:20%">
                    <div>
                        <p-card>
                            <div>
                                <p-checkbox binary="true" label="Exclude Bots" [(ngModel)]="excludeBots" [disabled]="processingStats" (onChange)="refreshStatsWithTimeout()"></p-checkbox>&nbsp;&nbsp;
                                <p-checkbox binary="true" label="Exclude Charities" [(ngModel)]="excludeCharities" [disabled]="processingStats" (onChange)="refreshStatsWithTimeout()"></p-checkbox>&nbsp;&nbsp;
                                <p-checkbox binary="true" label="Exclude Coil-Settlement" [(ngModel)]="excludeCoilSettlement" [disabled]="processingStats" (onChange)="refreshStatsWithTimeout()"></p-checkbox>&nbsp;&nbsp;
                            </div>
                            <h2>
                                Choose Date (optional):
                            </h2>
                            <div style="padding-top: 0.5em;">
                                <div class="floatleft">
                                    <p-checkbox binary="true" label="Choose specific Time" [(ngModel)]="useDateRange" [disabled]="processingStats" (onChange)="refreshStatsWithTimeout()"></p-checkbox>
                                </div>
                                <div class="floatright" style="vertical-align: middle">
                                    <p-progressSpinner *ngIf="processingStats" [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
                                </div>
                                <div class="floatleft" style="width: 80%">
                                    <label disabled="!useDateRange"><b>From</b></label>
                                    <p-calendar [disabled]="!useDateRange || processingStats" [(ngModel)]="fromDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2030" [showTime]="true" showSeconds="true" dateFormat="dd.mm.yy" (onSelect)="refreshStatsWithTimeout()" (onInput)="refreshStatsWithTimeout()"></p-calendar>
                                </div>
                                <div class="floatleft" style="width: 80%">
                                    <label><b>To</b></label>
                                    <p-calendar [disabled]="!useDateRange || processingStats" [(ngModel)]="toDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2030" [showTime]="true" showSeconds="true" dateFormat="dd.mm.yy" (onSelect)="refreshStatsWithTimeout()" (onInput)="refreshStatsWithTimeout()"></p-calendar>
                                </div>
                                <div class="floatleft" style="width: 80%">
                                    <label style="font-size: 9px;"><b>DB timestamps are in UTC, so your selected time will be converted into UTC as well!</b></label>
                                </div>
                            </div>
                        </p-card>
                    </div>
                    <div style="padding-top: 1.5em;">
                        <p-card header="Overall Stats">
                            <p-table [value]="overallStats" [style]="{'width':'100%'}">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 38%"></th>
                                        <th style="width: 22%">Count</th>
                                        <th style="width: 40%">XRP</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-overallStats>
                                    <tr>
                                        <td><b>{{overallStats['label']}}</b></td>
                                        <td style="text-align: center">{{overallStats['count']}}</td>
                                        <td style="text-align: center">{{overallStats['xrp']}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-card>
                    </div>
                    <div style="padding-top: 1.5em;">
                        <p-card header="Overall Stats by Network">
                            <p-table [value]="overallStatsByNetwork" [style]="{'width':'100%'}">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 38%;text-align: left">Sent via</th>
                                        <th style="width: 22%">Tips</th>
                                        <th style="width: 40%">XRP</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-overallStatsByNetwork>
                                    <tr>
                                        <td><b>{{overallStatsByNetwork['label']}}</b></td>
                                        <td style="text-align: center">{{overallStatsByNetwork['count']}}</td>
                                        <td style="text-align: center">{{overallStatsByNetwork['xrp']}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-card>
                    </div>
                </div>
                <div class="floatright" style="width: 80%;padding-left: 1em;">
                    <p-card>
                        <h2>
                            <div class="floatleft">
                                {{statsHeader}}
                            </div>
                            <div class="floatright">
                                <button mat-icon-button pTooltip="Share this statistic" (click)="copy2Clipboard()">
                                    <i class="material-icons">
                                        share
                                    </i>
                                </button>
                            </div>
                        </h2>
                        <div>
                            <div *ngIf="useDateRange" class="ui-g-12">
                                <label>From: {{fromDate ? fromDate.toUTCString():''}}</label><br>
                                <label>To: {{toDate ? toDate.toUTCString():''}}</label>
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="floatleft" style="width: 25%">
                                <userTable [data]="topTipperReceived" headline="Most tips received" columnName1="User" columnName2="Tips" columnField2="count"></userTable>
                            </div>
                            <div class="floatleft" style="width: 25%">
                                <userTable [data]="topXRPReceived" headline="Most XRP received (via tip)" columnName1="User" columnName2="XRP" columnField2="xrp"></userTable>
                            </div>
                            <div class="floatleft" style="width: 25%">
                                <userTable [data]="topTipperSent" headline="Most tips sent" columnName1="User" columnName2="Tips" columnField2="count"></userTable>
                            </div>
                            <div class="floatleft" style="width: 25%">
                                <userTable [data]="topXRPSent" headline="Most XRP sent (via tip)" columnName1="User" columnName2="XRP" columnField2="xrp"></userTable>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
        </p-card>
    </div>
    <div style="padding-top: 2em;">
        <div class="ui-g-12 floatleft" style="width: 25%;">
            <p-card header="Tip Chart for last Days/Weeks">
                <div class="ui-g-12">
                    <div class="floatleft">
                        <p-dropdown [options]="daysOrWeeksDropDown" [(ngModel)]="selectedDayOrWeek" (onChange)="refreshChartWithTimeout()"></p-dropdown>
                    </div>
                    <div class="floatcenter" style="padding-left: 1em;">
                        <p-spinner size="3" [(ngModel)]="daysToReceive" [min]="1" [max]="10" [maxlength]="2" (input)="refreshChartWithTimeout()" (onChange)="refreshChartWithTimeout()"></p-spinner>
                    </div>
                    <div class="floatright">
                        <p-progressSpinner *ngIf="processingChart" [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
                    </div>
                </div>
                <div>
                    <p-checkbox binary="true" label="Exclude Coil-Settlement" [(ngModel)]="excludeCoilSettlementChart" [disabled]="processingChart" (onChange)="refreshChartWithTimeout()"></p-checkbox>&nbsp;&nbsp;
                </div>
            </p-card>
        </div>
        <div class="ui-g-12 center-screen" style="margin: 0 auto">
            <p-chart type="bar" [data]="chartData" [options]="options" width="95vw" height="50vh"></p-chart>
        </div>
    </div>
</div>
