<div class="ui-g">
    <div class="ui-g-12">
        <p-card>
            <div class="floatleft footertext">
                <a class="footerlink" [routerLink]="['/']">Home</a>
            </div>
            <div class="tipbotfooter">
                <a amount="0.5" size="275" to="nixerFFM" network="twitter" href="https://www.xrptipbot.com" label="Tip nixer:" labelpt="Thank you!" target="_blank"></a>
            </div>
            <div class="floatright footertext footertext-right">
                <span>All Rights Reserved</span>
            </div>
            <div style="clear: both;"></div>
        </p-card>
    </div>
</div>
