<div class="ui-g-12">
    <p-card style="width:100%">
        <div class="floatleft footertext">
            <a class="footerlink" [routerLink]="['/']">Home</a>
            <a class="footerlink" [routerLink]="['/terms']">Terms and Conditions</a>
            <a class="footerlink" [routerLink]="['/privacy']">Privacy Policy</a>
        </div>
        <div class="tipbotfooter">
            <a amount="0.5" size="275" to="nixerFFM" network="twitter" href="https://www.xrptipbot.com" label="Send nixerFFM" labelpt="Thank you!" target="_blank"></a>
        </div>
        <div class="floatright footertext footertext-right">
            <span>All Rights Reserved</span>
        </div>
        <div style="clear: both;"></div>
    </p-card>
</div>
