<div class="ui-g ui-fluid">
    <div>
        <p-card>
            <div class="ui-g-12">
                <div class="floatleft" style="width:25%">
                    <div>
                        <p-card>
                            <h2 style="margin-top:0">
                                Choose Date (optional):
                            </h2>
                            <div style="padding-top: 0.5em;">
                                <div class="floatleft">
                                    <p-checkbox binary="true" label="Choose specific Time" [(ngModel)]="useDateRange" [disabled]="processingStats" (onChange)="refreshStatsWithTimeout()"></p-checkbox>
                                </div>
                                <div class="floatright" style="vertical-align: middle">
                                    <p-progressSpinner *ngIf="processingStats" [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
                                </div>
                                <div class="floatleft" style="width: 80%">
                                    <label disabled="!useDateRange"><b>From</b></label>
                                    <p-calendar [disabled]="!useDateRange || processingStats" [(ngModel)]="fromDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2030" [showTime]="true" showSeconds="true" dateFormat="dd.mm.yy" (onSelect)="refreshStatsWithTimeout()" (onInput)="refreshStatsWithTimeout()"></p-calendar>
                                </div>
                                <div class="floatleft" style="width: 80%">
                                    <label><b>To</b></label>
                                    <p-calendar [disabled]="!useDateRange || processingStats" [(ngModel)]="toDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2030" [showTime]="true" showSeconds="true" dateFormat="dd.mm.yy" (onSelect)="refreshStatsWithTimeout()" (onInput)="refreshStatsWithTimeout()"></p-calendar>
                                </div>
                                <div class="floatleft" style="width: 80%">
                                    <label style="font-size: 9px;"><b>Your selected time will be converted into GMT+1!</b></label>
                                </div>
                            </div>
                        </p-card>
                    </div>
                    <div style="padding-top: 1.5em;">
                        <p-card>
                            <h2 style="margin-top:0">
                                Overall XRPTipBot ILP Stats
                                <i class="material-icons" pTooltip="since Feb 2019">info</i>
                            </h2>
                            <p-table [value]="overallStats" [style]="{'width':'100%'}">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 40%"></th>
                                        <th style="width: 25%"># of Users</th>
                                        <th style="width: 35%">XRP</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-overallStats>
                                    <tr>
                                        <td><b>{{overallStats['label']}}</b></td>
                                        <td style="text-align: center">{{overallStats['count']}}</td>
                                        <td style="text-align: center">{{overallStats['xrp']}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-card>
                    </div>
                </div>
                <div class="floatright" style="width: 75%;padding-left: 1em;">
                    <p-card>
                        <h2 style="margin-top: 0; margin-bottom: 0">
                            <div class="floatleft">
                                {{statsHeader}} <i class="material-icons" pTooltip="since Feb 2019">info</i>
                            </div>
                            <div class="floatright">
                                <button mat-icon-button pTooltip="Share this statistic" tooltipPosition="left" (click)="copy2Clipboard()">
                                    <i class="material-icons" style="color: #0089E1">
                                        share
                                    </i>
                                </button>
                            </div>
                        </h2>
                        <div>
                            <div *ngIf="useDateRange" class="ui-g-12">
                                <label>From: {{fromDate ? dateToLocaleStringEuropeTime(fromDate):''}}</label><br>
                                <label>To: {{toDate ? dateToLocaleStringEuropeTime(toDate):''}}</label>
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="floatleft" style="width: 50%">
                                <userTable showAllButton="true" transactionTableFilter="" isILP="true" [data]="topIlpReceived" headline="Most received (Overall)" columnName1="User" columnName2="XRP" columnField2="amount"></userTable>
                            </div>
                            <div class="floatleft" style="width: 50%">
                                <userTable showAllButton="true" transactionTableFilter="network=coil" isILP="true" [data]="topIlpReceivedCoil" headline="Most received (Coil)" columnName1="User" columnName2="XRP" columnField2="amount"></userTable>
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="floatleft" style="width: 33%">
                                <userTable showAllButton="true" transactionTableFilter="network=twitter" isILP="true" [data]="topIlpReceivedTwitter" headline="Most received (Twitter)" columnName1="User" columnName2="XRP" columnField2="amount"></userTable>
                            </div>
                            <div class="floatleft" style="width: 33%">
                                <userTable showAllButton="true" transactionTableFilter="network=reddit" isILP="true" [data]="topIlpReceivedReddit" headline="Most received (Reddit)" columnName1="User" columnName2="XRP" columnField2="amount"></userTable>
                            </div>
                            <div class="floatleft" style="width: 33%">
                                <userTable showAllButton="true" transactionTableFilter="network=discord" isILP="true" [data]="topIlpReceivedDiscord" headline="Most received (Discord)" columnName1="User" columnName2="XRP" columnField2="amount"></userTable>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
        </p-card>
    </div>
</div>
