<header>
    <mat-toolbar id="primarybar" color="primary" class="mat-elevation-z6">
        <span class="topbar-middle">XRPTipBot Statistics Page</span>
        <div class="floatright tipbotheader">
            <a amount="0.5" size="275" to="nixerFFM" network="twitter" href="https://www.xrptipbot.com" label="Send nixerFFM" labelpt="Thank you!" target="_blank"></a>
        </div>
    </mat-toolbar>
</header>
<nav>
    <mat-toolbar id="secondarybar" color="secondary" class="mat-elevation-z6">
        <div class="ui-g-12">
            <div class="floatleft">
                <button mat-button [routerLink]="['/feed']" matTooltip="Feed">
                    <i class="material-icons topbar-menu-icon">format_list_bulleted</i> Feed
                </button>
                <button mat-button [routerLink]="['/overallstatistics']" matTooltip="Overall Statistics">
                    <i class="material-icons topbar-menu-icon">public</i> Overall Statistics
                </button>
                <button mat-button [routerLink]="['/userstatistics']" matTooltip="User Statistics">
                    <i class="material-icons topbar-menu-icon">show_chart</i> User Statistics
                </button>
                <button mat-button [routerLink]="['/ilp']" matTooltip="ILP">
                    <!--img src="../../assets/networks/coil.png" width="20" height="20" style="vertical-align: middle;"-->
                    <i class="material-icons topbar-menu-icon">link</i> ILP
                </button>
                <button mat-button [routerLink]="['/info']" matTooltip="Info">
                    <i class="material-icons topbar-menu-icon">info</i> Info
                </button>
            </div>
            <div class="floatright" style="vertical-align: right;">
                <button mat-button [routerLink]="['/settings']" matTooltip="Settings">
                    Settings <i class="material-icons topbar-menu-icon">settings_applications</i>
                </button>
            </div>
        </div>
    </mat-toolbar>
</nav>
<div *ngIf="!isApiReachable" style="background-color: darkred; color: white; text-align: center;">
    Backend currently not reachable. Please try again later or contact @nixerFFM on Twitter.
</div>