<p-dialog [(visible)]="data" [modal]="true" (onHide)="onHide()" [style]="{'min-width':'25%','max-width':'40%', overflow: 'auto'}">
    <p-header>
        <b>{{foundUser ? foundUser.name : ''}}</b>
    </p-header>
    <p-progressSpinner *ngIf="!data" [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
    <userTable *ngIf="data" [data]="data" [headline]="headline" [columnName1]="columnName1" [columnName2]="columnName2" [columnField2]="columnField2" isDetailsView="true" (closeIt)="onHide()"></userTable>
</p-dialog>