<p-progressSpinner *ngIf="!data" [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
<p-table #dt *ngIf="data" [value]="data" [paginator]="paginator" [rows]="rows" [autoLayout]="true" csvSeparator=";">
    <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
                <button type="button" pButton icon="fa-file" iconPos="left" label="Export All Data" (click)="dt.exportCSV()" style="float:left"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf="enableSort" [pSortableColumn]="'momentAsDate'">Date (GMT+2)<p-sortIcon [field]="'momentAsDate'"></p-sortIcon>
            </th>
            <th *ngIf="!enableSort">Date (GMT+2)</th>
            <th>Type</th>
            <th *ngIf="enableSort" [pSortableColumn]="'xrp'">XRP<p-sortIcon [field]="'xrp'"></p-sortIcon></th>
            <th *ngIf="!enableSort">XRP</th>
            <th>
                From
                <div style="font-size:0.8em;display:flex;align-items: center;">
                    Filter:&nbsp;<input style="height: 2em;" pInputText type="text" (input)="dt.filter($event.target.value, 'user', 'contains')">
                </div>
            </th>
            <th>
                To
                <div style="font-size:0.8em;display:flex;align-items: center;">
                    Filter:&nbsp;<input style="height: 2em;" pInputText type="text" (input)="dt.filter($event.target.value, 'to', 'contains')">
                </div>
            </th>
            <th>Network</th>
            <th>From</th>
            <th>To</th>
            <th>Context</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr style="white-space: nowrap;">
            <td style="text-align: center">{{formatStringDate(data.momentAsDate)}}</td>
            <td style="text-align: center">{{data.type}}</td>
            <td style="text-align: center">{{data.xrp}}</td>
            <td style="text-align: left;">
                <a [routerLink]="['/userstatistics']" [queryParams]="{user: data.user, network: data.user_network}" (click)="close()">{{data['user']}} </a>
                <a *ngIf="!isDiscordOrCoilNetwork(data.user_network)" target="_blank" href="{{getNetworkURLFrom(data)}}"><img src="../../assets/networks/{{resolveIconName(data.user_network)}}.png" width="20" height="20" style="vertical-align: middle;"></a>
                <img *ngIf="isDiscordOrCoilNetwork(data.user_network)" src="../../assets/networks/{{resolveIconName(data.user_network)}}.png" width="20" height="20" style="vertical-align: middle;">
            </td>
            <td style="text-align: left">
                <div *ngIf="data.type === 'tip'">
                    <a [routerLink]="['/userstatistics']" [queryParams]="{user: data.to, network: data.to_network}" (click)="close()">{{data['to']}} </a>
                    <a *ngIf="!isDiscordOrCoilNetwork(data.to_network)" target="_blank" href="{{getNetworkURLTo(data)}}"><img src="../../assets/networks/{{resolveIconName(data.to_network)}}.png" width="20" height="20" style="vertical-align: middle;"></a>
                    <img *ngIf="isDiscordOrCoilNetwork(data.to_network)" src="../../assets/networks/{{resolveIconName(data.to_network)}}.png" width="20" height="20" style="vertical-align: middle;">
                </div>
            </td>
            <td *ngIf="data.network === 'app' || data.network === 'btn'" style="text-align: center"><i class="material-icons">{{getIconName(data.network)}}</i></td>
            <td *ngIf="data.network != 'app' && data.network != 'btn'" style="text-align: center"><img src="../../assets/networks/{{resolveIconName(data.network)}}.png" width="20" height="20" style="vertical-align: middle;"></td>
            <td style="text-align: center"><img *ngIf="data.type != 'deposit' && data.type != 'withdraw' && (data.network === 'app' || data.network === 'btn')" src="../../assets/networks/{{resolveIconName(data.user_network)}}.png" width="20" height="20" style="vertical-align: middle;"></td>
            <td style="text-align: center"><img *ngIf="data.to_network && (data.network === 'app' || data.network === 'btn')" src="../../assets/networks/{{resolveIconName(data.to_network)}}.png" width="20" height="20" style="vertical-align: middle;"></td>
            <td *ngIf="(data.network != 'twitter' && data.network != 'reddit' && data.network != 'btn') || data.type != 'tip'" style="text-align: center">{{shortenContext(data.network,data.context)}}</td>
            <td *ngIf="data.network === 'btn' && data.type === 'tip'" style="text-align: center"><a target="_blank" href="{{shortenContext(data.network,data.context)}}">{{shortenContext(data.network,data.context)}}</a></td>
            <td *ngIf="data.network === 'twitter' && data.type === 'tip'" style="text-align: center"><a target="_blank" href="https://twitter.com{{data.context}}">{{data.context}}</a></td>
            <td *ngIf="data.network === 'reddit' && data.type === 'tip'" style="text-align: center"><a target="_blank" href="https://reddit.com{{data.context}}">{{data.context}}</a></td>
        </tr>
    </ng-template>
</p-table>