<h3>{{headline}}
    <a *ngIf="showAllButton && data.length>0" pTooltip="Full list" tooltipPosition="top" [tooltipDisabled]="openAllClicked" style="cursor: pointer;" (click)="openAllTopTipper()">
        <i *ngIf="!openAllClicked" class="material-icons">vertical_align_bottom</i>
        <p-progressSpinner *ngIf="openAllClicked" [style]="{width: '24px', height: '24px'}"></p-progressSpinner>
    </a>
</h3>
<p-checkbox *ngIf="isDetailsView" [(ngModel)]="hideLinks" binary="true" label="Hide Links"></p-checkbox>
<div *ngIf="isDetailsView"></div>
<div class="center">
    <p-table [value]="data" [paginator]="isDetailsView" [rows]="10" [style]="{'width':'95%'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 65%">{{columnName1}}</th>
                <th style="width: 35%">{{columnName2}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>
                    <div class="floatleft">
                        <a *ngIf="!hideLinks && data.network" style="vertical-align: middle" [routerLink]="['/userstatistics']" [queryParams]="{user: data.userName, network: data.network, from_date: from_date, to_date: to_date}" (click)="closeFullList()">{{getUserName(data)}}&nbsp;</a>
                        <label *ngIf="hideLinks || !data.network" style="vertical-align: middle">{{getUserName(data)}}&nbsp;</label>
                    </div>
                    <div *ngIf="!hideLinks && data.network" class="floatright">
                        <a *ngIf="!isDiscordOrCoilNetwork(data)" target="_blank" href="{{getNetworkURL(data)}}" rel="noreferrer" aria-label="Social media account"><img src="../../assets/networks/{{resolveIconName(data)}}.png" width="20" height="20" style="vertical-align: middle;" alt="Open social media account"></a>
                        <img *ngIf="isDiscordOrCoilNetwork(data)" src="../../assets/networks/{{resolveIconName(data)}}.png" width="20" height="20" style="vertical-align: middle;" alt="Social Network">
                        <a target="_blank" href="{{getXRPTipBotURL(data)}}" rel="noreferrer" aria-label="Social XRPTipBot Page"><img src="../../assets/networks/xrptipbot.png" width="20" height="20" style="vertical-align: middle;" alt="XRPTipBot Page"></a>
                    </div>
                </td>
                <td *ngIf="!transactionTableFilter || hideLinks || isILP" style="text-align: center">{{data[columnField2]}}</td>
                <td *ngIf="transactionTableFilter && !hideLinks && !isILP" style="text-align: center"><a style="cursor: pointer;" pTooltip="Show Transactions" tooltipPosition="top" (click)="openAllTransactions(data)">{{data[columnField2]}}</a></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<topTipperFullTable *ngIf="topTipperAllData && topTipperAllData.length > 0" [data]="topTipperAllData" [foundUser]="foundUser" headline="{{headline}}" columnName1="{{columnName1}}" columnName2="{{columnName2}}" columnField2="{{columnField2}}" (closed)="closeFullList()"></topTipperFullTable>
<transactionTableDialog *ngIf="openOverlayTable" [transactionFilter]="overlayUsedTransactionFilter" (closed)="closedAll()"></transactionTableDialog>