<h3>{{headline}}</h3>
<div class="center">
    <p-table [value]="data" [style]="{'width':'95%'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 65%">{{columnName1}}</th>
                <th style="width: 35%">{{columnName2}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>
                    <a style="vertical-align: middle" href="https://www.xrptipbot.com/u:{{data['_id']}}/n:{{data['network']}}">{{getShowName(data)}}&nbsp;</a>
                    <a href="{{getNetworkURL(data)}}"><img src="../../assets/networks/{{data['network']}}.png" width="20" height="20" style="vertical-align: middle;"></a>
                </td>
                <td style="text-align: center">{{data[columnField2]}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>