<p-dialog [style]="{width: '70%', height: '70%', overflow: 'auto'}" [visible]="showDialog" [closable]="false" (onHide)="closing()">
    <p-header class="account-since">
        <div *ngIf="!waitingForCoil">Please support via Coil or XUMM</div>
        <div *ngIf="waitingForCoil">Waiting for Coil to start streaming.</div>
    </p-header>
    <div class="ui-g-12">
        <p-card>
            <div *ngIf="isInit && waitingForCoil" class="floatcenter">
                <div>
                    Waiting 10 seconds for your Coil extension to start streaming...
                </div>
                <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
            </div>
            <div *ngIf="!isInit && !waitingForCoil && !showError && !waitingForPayloadResolved && !loading && !paymentReceived && !signInValidated" class="floatcenter">
                <div>
                    <div class="floatcenter">
                        <h2>Hello there!</h2>
                        <h3><label class="current-balance">To view the underlying ILP statistics page, please support this project via <b>Coil</b> or with a tip of 0.5 XRP via <b>XUMM</b></label></h3>
                        <p-card>
                            <label class="account-since">Your Payment will be valid for the next 7 days.</label>After 7 days you have to purchase again.<br/>
                            You can use the 'SignIn' if you have purchased already within the last 7 days.<br/>
                            <label>You can also save your last payment info in the <a routerLink="/settings">Settings</a> so you don't have to use SignIn.</label><br/><br/>
                            <label>Learn more about XUMM <a href="https://xumm.dev" target="_blank">here</a>.</label>
                        </p-card><br/><br/>
                    </div>
                    <div class="floatleft" style="width: 48%;">
                        <div class="floatright">
                            <button mat-button pTooltip="Shut up and take my money!" tooltipPosition="left" (click)="supportViaXumm()" style="padding:0px;">
                                <img src="../../assets/xummPay.svg" style="width: 150px; height: 45px;" alt="Pay with Xumm">
                            </button>
                        </div>
                    </div>
                    <div class="floatright" style="width: 48%;">
                        <div class="floatleft">
                            <button mat-button pTooltip="Sign in to view your purchased statistics." tooltipPosition="right" (click)="signinToValidate()" style="padding:0px;">
                                <img src="../../assets/xummSignIn.svg" style="width: 230px; height: 40px;"  alt="Sign in with Xumm">
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="floatcenter" style="width: 100%;">
                    <button mat-button pTooltip="I don't want to support you!" tooltipPosition="right" (click)="closeIt()" style="width: 120; height: 30;">
                        <b>Nope! </b>
                        <i class="material-icons" style="color: red">
                            cancel
                        </i>
                    </button>
                </div>
            </div>
            <div *ngIf="loading && !showError && !waitingForPayloadResolved" class="floatcenter">
                <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
            </div>
            <div *ngIf="!loading && !showError && waitingForPayloadResolved" class="floatcenter">
                <div *ngIf="qrLink">
                    <div>
                        Scan QR code{{storage.get('pushAllowed') ? ' or wait for push notification:' : ':'}}
                    </div>
                    <div>
                        <p-progressSpinner *ngIf="!showQR" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
                    </div>
                    <br/>
                    <img (load)="QRLoaded()" [src]="qrLink" width="150" height="150" style="vertical-align: middle;">
                    <br/><br/>
                </div>
                <div style="height: 55px; display:flex; align-items: center; padding-top: 3em;" class="floatcenter">
                    <div>
                        Waiting for transaction confirmation...&nbsp;
                    </div>
                    <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
                </div>
                <div style="padding-top: 2em;">
                    <button mat-button pTooltip="Close" tooltipPosition="right" (click)="closeIt()" style="width: 120; height: 30;">
                        <b>Cancel </b>
                        <i class="material-icons" style="color: red">
                            cancel
                        </i>
                    </button>
                </div>
            </div>
            <div *ngIf="showError && !waitingForPayloadResolved && !loading" class="floatcenter">
                <div *ngIf="!requestExpired && backendNotAvailable" style="color: red;">
                    Sorry, there was an error contacting the backend. Please try again later.
                </div>
                <div *ngIf="!requestExpired && !backendNotAvailable && !isSignIn" style="color: red;">
                    Sorry, your transaction could not be verified on the live net. Please reload the page and try again!
                </div>
                <div *ngIf="requestExpired && !backendNotAvailable" style="color: red;">
                    Sorry, your request has been expired. Please reload the page and try again!
                </div>
                <div *ngIf="showError && !requestExpired && !backendNotAvailable && !waitingForPayloadResolved && isSignIn && !signInValidated"  style="color: red;">
                    <div class="floatcenter">
                        Sorry, no valid payment could be found to view this statistics. You need to purchase again.
                    </div>
                    <div class="floatleft" style="width: 48%;">
                        <div class="floatright">
                            <button mat-button pTooltip="Shut up and take my money!" tooltipPosition="left" (click)="resetAndPay()" style="padding:0px;">
                                <img src="../../assets/xummPay.svg" style="width: 150px; height: 45px;" alt="Pay with Xumm">
                            </button>
                        </div>
                    </div>
                    <div class="floatright" style="width: 48%;">
                        <div class="floatleft">
                            <button mat-button pTooltip="I don't want to support you!" tooltipPosition="right" (click)="closeIt()" style="width: 120; height: 30;">
                                <b>Nope! </b>
                                <i class="material-icons" style="color: red">
                                    cancel
                                </i>
                            </button>
                        </div>
                    </div>

                </div>

                <button *ngIf="!isSignIn" mat-button pTooltip="Close" tooltipPosition="right" (click)="closeIt()" style="width: 120; height: 30;">
                    <b>Close </b>
                    <i class="material-icons">
                        cancel
                    </i>
                </button>
            </div>
            <div *ngIf="paymentReceived" class="floatcenter">
                <div>
                    <i class="material-icons" style="color: green; font-size: 3em;">
                        check_circle_outline
                    </i>
                </div>
                <div>
                    <h4 style="color: green;">Thank you for your donation!</h4><br>You will be redirected to the stats page shortly.
                </div>
            </div>
            <div *ngIf="signInValidated" class="floatcenter">
                <div>
                    <i class="material-icons" style="color: green; font-size: 3em;">
                        check_circle_outline
                    </i>
                </div>
                <div>
                    <h4 style="color: green;">You have successfully signed in!</h4><br>You will be redirected to the stats page shortly.
                </div>
            </div>
        </p-card>
    </div>
</p-dialog>