<p-dialog [style]="{width: '70%', height: '70%', overflow: 'auto'}" [visible]="showDialog" [closable]="false" (onHide)="closing()">
    <p-header style="color: orange">
        Receive a SignIn request via XUMM to enable push notifications
    </p-header>
    <div class="ui-g-12">
        <p-card>
            <div *ngIf="!showError && !waitingForPayment && !loading && !transactionSigned" class="floatcenter">
                <div>
                    <h3>Hello there!<br/><br/>Please sign in using XUMM to enable push notifications<br/><br/></h3>
                </div>
                <div>
                    <b style="color:red">Please be careful!</b><br>
                    Allow push notifications only at <b style="color:orangered">non public devices</b> that you trust and only you have access to!
                </div>
                <div style="color:orange">
                    Deleting the browser cache does revoke the push access and you have to enable it again.
                    <br><br>
                </div>
                <div class="floatleft" style="width: 48%;">
                    <div class="floatright">
                        <button mat-button pTooltip="Enable push notification on this website." tooltipPosition="left" (click)="supportViaXumm()" style="padding:0px;">
                            <img src="../../assets/xummSignIn.svg" style="width: 230px; height: 40px;"  alt="Sign in with Xumm">
                        </button>
                    </div>
                </div>
                <div class="floatright" style="width: 48%;">
                    <div class="floatleft">
                        <button mat-button pTooltip="I don't want to enable push!" tooltipPosition="right" (click)="closeIt()" style="width: 120; height: 30;">
                            <b>Nope! </b>
                            <i class="material-icons" style="color: red">
                                cancel
                            </i>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="loading && !showError && !waitingForPayment" class="floatcenter">
                <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
            </div>
            <div *ngIf="!loading && !showError && waitingForPayment" class="floatcenter">
                <div *ngIf="qrLink">
                    <div>
                        Scan QR code to enable push notifications:
                    </div>
                    <div>
                        <p-progressSpinner *ngIf="!showQR" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
                    </div>
                    <br/>
                    <img (load)="QRLoaded()" [src]="qrLink" width="150" height="150" style="vertical-align: middle;">
                    <br/><br/>
                </div>
                <div style="height: 55px; display:flex; align-items: center; padding-top: 3em;" class="floatcenter">
                    <div>
                        <br>
                        Waiting for transaction confirmation...&nbsp;
                    </div>
                    <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
                </div>
                <div style="padding-top: 3em;">
                    <button mat-button pTooltip="Cancel" tooltipPosition="right" (click)="closeIt()" style="width: 120; height: 30;">
                        <b>Cancel </b>
                        <i class="material-icons" style="color: red">
                            cancel
                        </i>
                    </button>
                </div>
            </div>
            <div *ngIf="showError && !waitingForPayment && !loading" class="floatcenter">
                <div *ngIf="!requestExpired && backendNotAvailable" style="color: red;">
                    Sorry, there was an error contacting the backend. Please try again later.
                </div>
                <div *ngIf="!requestExpired && !backendNotAvailable" style="color: red;">
                    Sorry, your transaction could not be verified. Please reload the page and try again!
                </div>
                <div *ngIf="requestExpired && !backendNotAvailable" style="color: red;">
                    Sorry, your request has been expired. Please reload the page and try again!
                </div>
                <button mat-button pTooltip="Close" tooltipPosition="right" (click)="closeIt()" style="width: 120; height: 30;">
                    <b>Close </b>
                    <i class="material-icons">
                        cancel
                    </i>
                </button>
            </div>

            <div *ngIf="transactionSigned" class="floatcenter">
                <div>
                    <i class="material-icons" style="color: green; font-size: 3em;">
                        check_circle_outline
                    </i>
                </div>
                <div>
                    <h4 style="color: green;">XUMM push notifications have been enabled!</h4>
                    <br>You can always disable them in the settings!
                    <br><br>You will be redirected back shortly.
                </div>
            </div>
        </p-card>
    </div>
</p-dialog>